:root {
      --anjo: #0f698c;
    --atlanti: #80d2f2;
    --banshee: #fb31d5;
    --bruxo: #7d604f;
    --cacador: #3eb595;
    --demonio: #a3c0a2;
    --dimon: #9acd32;
    --djinn: #f9db4a;
    --fada: #ff8097;
    --feiticeiro: #5b2491;
    --jumper: #79844d;
    --kiang-shi: #d9bea7;
    --lobisomem: #ff8d00;
    --metamorfo: #a66eb6;
    --oneiro: #ae4b2a;
    --vampiro: #821718;
    --youkai: #c76969;
    --aclis: #6b8e23;
    --afrodite: #fd87b3;
    --anemoi: #6baea0;
    --apolo: #e8c361;
    --ares: #e14e3e;
    --artemis: #7F8A92;
    --atena: #E56627;
    --asclepio: #1F8559;
    --deimoss: #3e3e3e;
    --demeter: #65AC55;
    --dionisio: #7d0c43;
    --enio: #e77266;
    --eris: #aa6f73;
    --eros: #cc4e7d;
    --hades: #555f61;
    --helio: #C1A96D;
    --hecate: #abb1cf;
    --hefesto: #683609;
    --heracles: #b8af47;
    --hermes: #82bdc0;
    --hipnos: #744A7D;
    --iris: #fab1a0;
    --kairos: #61639F;
    --melinoe: #61585F;
    --mnemosine: #8a2be2;
    --momo: #A06DA4;
    --nemesis: #b5130d;
    --nice: #D4AF37;
    --oneiros: #503789;
    --persephone: #a45b72;
    --phobos: #424242;
    --ponos: #987043;
    --poseidon: #4276ab;
    --quione: #abcee0;
    --sanco: #668AA4;
    --selene: #988E9B;
    --tanatos: #444443;
    --zeus: #536781;
    --biotico: #31633e;
    --cacador: #3EB595;
    --ciborgue: #79A1F7;
    --feiticeiro: #5b2491;
    --gorgona: #ff8097;
    --licantropo: #ff8d00;
    --metamorfo: #C76969;
    --sereiano: #80D2F2;
    --vampiro: #821718;    
--anjo-rgba: rgba(15, 105, 140, 0.6);
--atlanti-rgba: rgba(128, 210, 242, 0.6);
--banshee-rgba: rgba(251, 49, 213, 0.6);
--bruxo-rgba: rgba(125, 96, 79, 0.6);
--cacador-rgba: rgba(62, 181, 149, 0.6);
--demonio-rgba: rgba(163, 192, 162, 0.6);
--dimon-rgba: rgba(154, 205, 50, 0.6);
--djinn-rgba: rgba(249, 219, 74, 0.6);
--fada-rgba: rgba(255, 128, 151, 0.6);
--feiticeiro-rgba: rgba(91, 36, 145, 0.6);
--jumper-rgba: rgba(121, 132, 77, 0.6);
--kiang-shi-rgba: rgba(217, 190, 167, 0.6);
--lobisomem-rgba: rgba(255, 141, 0, 0.6);
--metamorfo-rgba: rgba(166, 110, 182, 0.6);
--oneiro-rgba: rgba(174, 75, 42, 0.6);
--vampiro-rgba: rgba(130, 23, 24, 0.6);
--youkai-rgba: rgba(199, 105, 105, 0.6);
--aclis-rgba: rgba(107, 142, 35, 0.6);
--afrodite-rgba: rgba(253, 135, 179, 0.6);
--anemoi-rgba: rgba(107, 174, 160, 0.6);
--apolo-rgba: rgba(232, 195, 97, 0.6);
--ares-rgba: rgba(225, 78, 62, 0.6);
--artemis-rgba: rgba(127, 138, 146, 0.6);
--atena-rgba: rgba(229, 102, 39, 0.6);
--asclepio-rgba: rgba(31, 133, 89, 0.6);
--deimoss-rgba: rgba(62, 62, 62, 0.6);
--demeter-rgba: rgba(101, 172, 85, 0.6);
--dionisio-rgba: rgba(125, 12, 67, 0.6);
--enio-rgba: rgba(231, 114, 102, 0.6);
--eris-rgba: rgba(170, 111, 115, 0.6);
--eros-rgba: rgba(204, 78, 125, 0.6);
--hades-rgba: rgba(85, 95, 97, 0.6);
--helio-rgba: rgba(193, 169, 109, 0.6);
--hecate-rgba: rgba(171, 177, 207, 0.6);
--hefesto-rgba: rgba(104, 54, 9, 0.6);
--heracles-rgba: rgba(184, 175, 71, 0.6);
--hermes-rgba: rgba(130, 189, 192, 0.6);
--hipnos-rgba: rgba(116, 74, 125, 0.6);
--iris-rgba: rgba(250, 177, 160, 0.6);
--kairos-rgba: rgba(97, 99, 159, 0.6);
--melinoe-rgba: rgba(97, 88, 95, 0.6);
--mnemosine-rgba: rgba(138, 43, 226, 0.6);
--momo-rgba: rgba(160, 109, 164, 0.6);
--nemesis-rgba: rgba(181, 19, 13, 0.6);
--nice-rgba: rgba(212, 175, 55, 0.6);
--oneiros-rgba: rgba(80, 55, 137, 0.6);
--persephone-rgba: rgba(164, 91, 114, 0.6);
--phobos-rgba: rgba(66, 66, 66, 0.6);
--ponos-rgba: rgba(152, 112, 67, 0.6);
--poseidon-rgba: rgba(66, 118, 171, 0.6);
--quione-rgba: rgba(171, 206, 224, 0.6);
--sanco-rgba: rgba(102, 138, 164, 0.6);
--selene-rgba: rgba(152, 142, 155, 0.6);
--tanatos-rgba: rgba(68, 68, 67, 0.6);
--zeus-rgba: rgba(83, 103, 129, 0.6);
--biotico-rgba: rgba(49, 99, 62, 0.6);
--cacador-rgba: rgba(62, 181, 149, 0.6);
--ciborgue-rgba: rgba(121, 161, 247, 0.6);
--feiticeiro-rgba: rgba(91, 36, 145, 0.6);
--gorgona-rgba: rgba(255, 128, 151, 0.6);
--licantropo-rgba: rgba(255, 141, 0, 0.6);
--metamorfo-rgba: rgba(199, 105, 105, 0.6);
--sereiano-rgba: rgba(128, 210, 242, 0.6);
--vampiro-rgba: rgba(130, 23, 24, 0.6);
--anjo-rgba2: rgba(15, 105, 140, 0.2);
--atlanti-rgba2: rgba(128, 210, 242, 0.2);
--banshee-rgba2: rgba(251, 49, 213, 0.2);
--bruxo-rgba2: rgba(125, 96, 79, 0.2);
--cacador-rgba2: rgba(62, 181, 149, 0.2);
--demonio-rgba2: rgba(163, 192, 162, 0.2);
--dimon-rgba2: rgba(154, 205, 50, 0.2);
--djinn-rgba2: rgba(249, 219, 74, 0.2);
--fada-rgba2: rgba(255, 128, 151, 0.2);
--feiticeiro-rgba2: rgba(91, 36, 145, 0.2);
--jumper-rgba2: rgba(121, 132, 77, 0.2);
--kiang-shi-rgba2: rgba(217, 190, 167, 0.2);
--lobisomem-rgba2: rgba(255, 141, 0, 0.2);
--metamorfo-rgba2: rgba(166, 110, 182, 0.2);
--oneiro-rgba2: rgba(174, 75, 42, 0.2);
--vampiro-rgba2: rgba(130, 23, 24, 0.2);
--youkai-rgba2: rgba(199, 105, 105, 0.2);
--aclis-rgba2: rgba(107, 142, 35, 0.2);
--afrodite-rgba2: rgba(253, 135, 179, 0.2);
--anemoi-rgba2: rgba(107, 174, 160, 0.2);
--apolo-rgba2: rgba(232, 195, 97, 0.2);
--ares-rgba2: rgba(225, 78, 62, 0.2);
--artemis-rgba2: rgba(127, 138, 146, 0.2);
--atena-rgba2: rgba(229, 102, 39, 0.2);
--asclepio-rgba2: rgba(31, 133, 89, 0.2);
--deimoss-rgba2: rgba(62, 62, 62, 0.2);
--demeter-rgba2: rgba(101, 172, 85, 0.2);
--dionisio-rgba2: rgba(125, 12, 67, 0.2);
--enio-rgba2: rgba(231, 114, 102, 0.2);
--eris-rgba2: rgba(170, 111, 115, 0.2);
--eros-rgba2: rgba(204, 78, 125, 0.2);
--hades-rgba2: rgba(85, 95, 97, 0.2);
--helio-rgba2: rgba(193, 169, 109, 0.2);
--hecate-rgba2: rgba(171, 177, 207, 0.2);
--hefesto-rgba2: rgba(104, 54, 9, 0.2);
--heracles-rgba2: rgba(184, 175, 71, 0.2);
--hermes-rgba2: rgba(130, 189, 192, 0.2);
--hipnos-rgba2: rgba(116, 74, 125, 0.2);
--iris-rgba2: rgba(250, 177, 160, 0.2);
--kairos-rgba2: rgba(97, 99, 159, 0.2);
--melinoe-rgba2: rgba(97, 88, 95, 0.2);
--mnemosine-rgba2: rgba(138, 43, 226, 0.2);
--momo-rgba2: rgba(160, 109, 164, 0.2);
--nemesis-rgba2: rgba(181, 19, 13, 0.2);
--nice-rgba2: rgba(212, 175, 55, 0.2);
--oneiros-rgba2: rgba(80, 55, 137, 0.2);
--persephone-rgba2: rgba(164, 91, 114, 0.2);
--phobos-rgba2: rgba(66, 66, 66, 0.2);
--ponos-rgba2: rgba(152, 112, 67, 0.2);
--poseidon-rgba2: rgba(66, 118, 171, 0.2);
--quione-rgba2: rgba(171, 206, 224, 0.2);
--sanco-rgba2: rgba(102, 138, 164, 0.2);
--selene-rgba2: rgba(152, 142, 155, 0.2);
--tanatos-rgba2: rgba(68, 68, 67, 0.2);
--zeus-rgba2: rgba(83, 103, 129, 0.2);
--biotico-rgba2: rgba(49, 99, 62, 0.2);
--cacador-rgba2: rgba(62, 181, 149, 0.2);
--ciborgue-rgba2: rgba(121, 161, 247, 0.2);
--feiticeiro-rgba2: rgba(91, 36, 145, 0.2);
--gorgona-rgba2: rgba(255, 128, 151, 0.2);
--licantropo-rgba2: rgba(255, 141, 0, 0.2);
--metamorfo-rgba2: rgba(199, 105, 105, 0.2);
--sereiano-rgba2: rgba(128, 210, 242, 0.2);
--vampiro-rgba2: rgba(130, 23, 24, 0.2);

}


